<div>
	Name: <%= @user.name %>
</div>

<div>
	Surname: <%= @user.surname %>
</div>

<div>
	City: <%= @user.profile.city %>
</div>

<div>
	Street: <%= @user.profile.address %>
</div>

<div>
	Number: <%= @user.profile.number %>
</div>